@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&family=Noto+Sans+KR:wght@100&display=swap');
*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Noto Sans KR', sans-serif;
}
.container{
  padding:0 12.8rem;
}

input:focus{
  outline: none;
}

body{
  background-color: rgb(250,250,250);
  width: 100%;
  height: 100%;
}

header{
  background-color: rgb(255,255,255);
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-bottom-color:  rgb(219, 219, 219);
  height: 55px;
}

.navbar{
  display: flex;
  padding: 1rem 0 .4rem 0;
  justify-content: space-between;
  align-items: center;
}

.navbar__logo{
  padding-right: 8rem;
}


.search-input{
  margin:0;
  margin-bottom: 10px;
  height: 25px;
  width: 215px;
  padding: 10px;
  border-color: rgba(128, 128, 128, 0.123);
  border-width: 1px;
  border-radius: 2px;
  background-color: rgba(212, 212, 212, 0.123);
  text-align: center;
}


.navbar__list{
  display: flex;
  list-style: none;
  margin-bottom: 5px;
}
.navbar__link{
  margin-left:1.5rem;
}

.profile__user{
  margin-top: 2rem;
}

.profile__data{
  display: flex;
  width: 100%;
}

.profile__dataAvatar{
  border-radius: 50%;
  width: 150px;
  height: 150px;
  margin-left: 80px;
}

.profile__dataAvatar:hover{
  cursor: pointer;
}

.profile__dataMetrics{
  margin-left: 100px;
  height: min-content;  
}

.profile__userName{
  font-size: 1.5rem;
  color: #505050;
  font-weight:100;
  display: inline-block;
}

.btn-follow{
  margin-left: 25px;
  display: inline-block;
}

.btn-sm{
  font-size:  .8rem;
  font-weight: 600;
  padding: 5px 10px;
  border: 1px solid #0095f6;
  border-radius: 5px;
  background-color: #0095f6;
  color: white;
}
.btn-sm:hover{
  cursor: pointer;
}

.user{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.metricsList{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin-top: 10px;
}

.metrics__item{
  list-style: none;
  margin-right: 50px;
}

.metrics__action{
  color: #505050;
  text-decoration: none;
}

.metrics__number{
  color: #000000;
  font-weight: bold;
}

.profile__description{
  margin-top: 25px;
}
.storiesCarousel{
  display: flex;
  justify-content: flex-start;
  margin: 25px 0 40px 0;
}

.stories__item{
  margin-left: 30px;
  width: 102px;
  height: 102px;
  border: 1px solid rgba(144, 144, 144, 0.226);
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.stories__item >img{
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 3px solid white;

}

.stories_description{
  padding-top: 5px;
  font-size: .8rem;
  font-weight: bold;
  color:black;
}

.feed{
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(3, 1fr);
  margin-top: 20px;
}

.feed__item{
  width: 300px;
}
.feed-img{
  width: 300px;
  height: 300px;
}